<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="body-login">

    <div class="login-container">
        <h1>LOGIN INCIDENTES LIMA</h1>
        <p>Ingresa los credenciales para acceder a tu cuenta</p>

        <form id="login_form" action="/api/login" method="POST">
            <input type="email" name="email" placeholder="Ingresa tu correo" required>
            <input type="password" name="password" placeholder="Ingresa tu contraseña" required>
            <button type="submit">INICIAR SESIÓN</button>
        </form>
        

        <a href="/register">¿No tienes una cuenta? <strong>Regístrate aquí</strong></a>
    </div>

</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#login_form').on('submit', function(event) {
            event.preventDefault(); // Prevent the default form submission

            var email = $('input[name="email"]').val();
            var password = $('input[name="password"]').val();

            $.ajax({
                url: '/api/login',
                method: 'POST',
                data: {
                    email: email,
                    password: password
                },
                success: function(response) {
                    if (response.success) {
                        // Redirigir al usuario al Home si el login es exitoso
                        window.location.href = "/";
                    } else {
                        alert("Credenciales inválidas.");
                    }
                },
                error: function(err) {
                    alert("Error al intentar iniciar sesión. Inténtelo nuevamente.");
                }
            });
        });
    });
</script>
