body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffc107; /* Ajusta el color de fondo amarillo */
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-form {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
}

.login-form h2, .login-form h3 {
    text-align: center;
    color: #333;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #f0ad4e; /* Botón naranja */
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #ec971f; /* Oscurecer el botón al pasar el mouse */
}

.login-form p {
    font-size: 12px;
    text-align: center;
}

.login-form a {
    color: #0275d8;
}
