@import url('https://fonts.googleapis.com/css2?family=Barlow&family=PT+Sans&display=swap');

:root{
    --dark: #2b2d42;
    --light: #adb5bd;
    --border: #dee2e6;
    --border-btn: #edf2f4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}

.container{
    max-width: 2000px;
    margin: auto;
}

.nav-brand{
    font-size: 1.5em;
    font-weight: bold;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.justify-between{
    justify-content: space-between;
}

.text-center{
    text-align: center;
}

.border-shadow-buttom {
    background-color: #28a745; /* Color verde */
    color: white; /* Texto blanco */
    padding: 40px 50px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    text-decoration: none; /* Sin subrayado */
    font-weight: bold; /* Texto en negrita */
    font-size: 16px; /* Tamaño de la fuente */
    box-shadow: 0 10px 10px rgba(0, 0.3, 0.3, 0.3); /* Sombra ligera */
    transition: all 0.3s ease-in-out; /* Transición suave en hover */
}

.border-shadow:hover {
    /* background-color: #218838; Verde más oscuro en hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Aumenta la sombra en hover */
    transform: translateY(-2px); /* Efecto de elevar el botón */
}

.text-dark{
    color: var(--border-btn);
}

.inline{
    display: inline-block;
}

.text-light{
    color: var(--light);
}

.text-gradient{
    background: linear-gradient(to right, #031a9b, #2997f1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
    font-size: 25px; /* Tamaño de la fuente */
}

.text-gradient-buttom{
    background: linear-gradient(to right, #f2eff5, #eeebf3);
    -webkit-background-clip: text;
    background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    /* background-color: #28a745; Color verde */
    color: white; /* Texto blanco */
    padding: 0px 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    text-decoration: none; /* Sin subrayado */
    font-weight: bold; /* Texto en negrita */
    font-size: 30px; /* Tamaño de la fuente */
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0); /* Sombra ligera */
    transition: all 0.3s ease-in-out; /* Transición suave en hover */
}

#header nav{
    background-color: #e70c0c;
    padding: 1em 0;
    width: 100%;
}

#site-main{
    margin-top: 6em;
    font-family: 'Barlow', sans-serif;
}

#site-main .container .box-nav > a{
    font-size: 1em;
    padding: 1em 0em;
}

#site-main .container form{
    margin: 3em 0;
}

table{
    border-spacing: 0px;
    width: 100%;
}

.table td, .table th{
    padding: .75em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid var(--border);
}

.table td > a.btn{
    padding: .3em 1em;
    font-size: 1.1em;
    margin: 0 .2em;
}

.table tr:hover{
    background-color:#06d6a0 ;
}

.table tr:hover td > a{
    box-shadow: none;
}

.table .thead-dark th{
    color: #fff;
    background-color: var(--dark) ;
    border-color: #32383e;
}

@media only screen and (max-width: 2000px){
    table, thead, tbody, th, td, tr{
        display: block;
    }

    thead tr{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid var(--border);}

    td{
        border: none;
        position: relative;
    }

}

/*  add user & update user template */
.form-title{
    margin-top: 2em;
}

.form-title > h2{
    padding: .5em 0;
}

.new_user{
    max-width: 786px;
    margin: auto;
}

#update_user .form-group,
#add_user .form-group{
    margin: .4em 0;
}

#update_user .form-group input[type="text"],
#add_user .form-group input[type="text"]{
    width: 100%;
    padding: .6em 1em;
    margin: .5em 0;
    border: 1px solid var(--border);
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    border-radius: .2em;
}

#update_user .form-group .radio,
#add_user .form-group .radio{
    margin: 1em 2em;
}

/* adding style to radio buttons */
.radio input[type='radio']{
    position: absolute;
    opacity: 0;
}

.radio input[type='radio'] + .radio-label:before{
    content: "";
    background: var(--border-btn);
    border-radius: 100%;
    border: 1px solid var(--border);
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: -0em;
    margin-right: .5em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
}

.radio input[type='radio']:checked + .radio-label:before{
    background-color: #16db93;
    box-shadow: inset 0 0 0 4px #e9ecef;
}

.radio input[type='radio']:focus + .radio-label:before{
    outline: none;
    border-color:#16db93;
}

.radio input[type='radio']:disabled + .radio-label:before{
    box-shadow: inset 0 0 0 4px #e9ecef;
    border-color: #b4b4b4;
    background: #b4b4b4;
}

#update_user .form-group .btn,
#add_user .form-group .btn{
    width: 100%;
    padding: .9em 1em;
    background-color:#16db93; 
    border: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
    cursor: pointer;
    border-radius: .2em;
    margin: .5em 0;
}

#update_user .form-group .btn:hover,
#add_user .form-group .btn:hover{
    background-color: var(--dark);
    color: var(--border);
}


/* Estilo para el estado Atendiendo */
.atendiendo {
    color: white; /* Texto blanco */
    background-color: red; /* Fondo rojo */
    padding: 5px 5px; /* Espaciado */
    border-radius: 20px; /* Forma circular */
    display: flex; /* Usando flexbox */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
}
.atendiendo:before {
    content: "\039F"; /* Código de carácter para el ícono de check */
    margin-right: 5px; /* Espacio entre el ícono y el texto */
}

/* Estilo para el estado Cerrado */
.cerrado {
    color: white; /* Texto blanco */
    background-color: green; /* Fondo gris */
    padding: 5px 10px; /* Espaciado */
    border-radius: 20px; /* Bordes redondeados */
    display: flex; /* Usando flexbox */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
}

/* Ícono de verificación para cerrado */
.cerrado:before {
    content: "\2713"; /* Código de carácter para el ícono de check */
    margin-right: 5px; /* Espacio entre el ícono y el texto */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

.form-layout {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-control.full-width {
    width: 100%;
}

select {
    appearance: none; /* Para ocultar el estilo predeterminado del navegador */
    background-color: white;
    border: 1px solid #ccc;
}

.full-width {
    width: 100%;
}

button.full-width {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button.full-width:hover {
    background-color: #45a049;
}
